<?php
	# The name and link to your company to appear on the website
	$company_name = "Company";
	$company_website = "http://www.company.org";

	# The base domain for where your data and this service are hosted.
	$base_domain = "dev.company.org";

	# The document prefix for retrieving document (information resource) objects. 
	$http_doc_prefix = "http://dev.company.org/doc/";

	# The local path which the web server can write to to store the documents
	$local_doc_prefix = "/home/dev.company.org/data/doc/";
	
	# The local path to the puelia cache dir, so it can be flushed each time a document update takes place
	$puelia_cache_dir = "/home/dev.company.org/public_html/puelia/cache/";
	
	# The local path to the puelia api-config-files directory (note this must be writable by the web server user)
	$puelia_api_config_files_dir = "/home/dev.company.org/config/";

	# The ID prefix where both information and non-information resource objects are "stored";
	$id_uri_prefix = "http://dev.company.org/id/";

	# Your google details for OAuth2 
	$google_client_id = '123456789012-abcdefghijklmnopqrstuvwxyzabcdef.apps.googleusercontent.com';
	$google_client_secret = 'a1b2c3e4f5g6h7i8j9k10l11';
	
	# The mysql database details.
	$database_server = 'localhost';
	$database_user = 'user';
	$database_password = 'password';
	$database_name = 'database';

	# Require account moderation before people can create access keys and upload data into the system?
	$moderate_accounts = false;
	
	# The http locations of the sparql and data prefix for 4store
	$index_edit_url = "http://localhost:5052/data/";
	$remote_store_endpoint = "http://localhost:5052/sparql/";

?>
